In [6]:
%matplotlib inline

In [7]:
import os

In [8]:
import numpy as np 
import pandas as pd

In [9]:
import pathlib

### change the name of the bulletin folder here

In [10]:
bulletin_dir = 'FMA_2020'

### path to the last 6 months TRMM-derived rainfall anomalies and categories

In [11]:
dpath = pathlib.Path.cwd().parent / 'outputs' / 'Time_Series' / 'last_6_months'

In [12]:
opath = pathlib.Path.cwd().parents[1] / 'bulletin' / bulletin_dir

### if the bulletin folder doesnt exists, create it

In [13]:
if not opath.exists(): 
    opath.mkdir()

### get the list of files

In [16]:
lfiles = list(dpath.glob('*.csv'))

In [17]:
lfiles

[PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Papua_New_Guinea_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Marshall_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Kiribati_Phoenix_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Northern_Cook_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Samoa_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Vanuatu_South_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Guam_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Solomon_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Palau_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Austral_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Niue_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Society_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Fiji_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_New_Caledonia_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Kiribati_Gilbert_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Kiribati_Line_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Pitcairn_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Tokelau_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_American_Samoa_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Tuamotu__Gambier_Islands_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Federated_States_of_Micronesia_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Northern_Marianas_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Wallis_and_Futuna_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Tuvalu_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Marquesas_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Vanuatu_North_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Nauru_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Tonga_pbased.csv'),
 PosixPath('/home/nicolasf/operational/ICU/ops/GPM_IMERG/outputs/Time_Series/last_6_months/GPM_IMERG_Southern_Cook_Islands_pbased.csv')]

In [18]:
len(lfiles)

29

### reads the last 6 months categories for each Island group, and concatenates

In [10]:
l = []
for f in lfiles: 
    data = pd.read_csv(f)
    data = data.T.iloc[-1,:]
    data = data.to_frame()
    data.columns = [str(f).split('/')[-1][:-11]]
    l.append(data)

In [11]:
df = pd.concat(l, axis=1)

In [12]:
data_keep = pd.read_csv(dpath / 'New_Caledonia_pbased.csv')

In [13]:
df.loc[:,'year'] = data_keep.year

In [14]:
df.loc[:,'month'] = data_keep.month

In [15]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
df

,Palau,Papua_New_Guinea,Society_Islands,Niue,Kiribati_Phoenix_Islands,Wallis_and_Futuna,Marquesas,Fiji,Kiribati_Line_Islands,Vanuatu_North,...,Solomon_Islands,Tonga,Pitcairn_Islands,Guam,Northern_Marianas,Federated_States_of_Micronesia,Marshall_Islands,American_Samoa,year,month
0,Normal,Below,Well above,Above,Well below,Well above,Above,Normal,Well above,Normal,...,Well above,Well above,Well above,Below,Below,Normal,Below,Well above,2019,7
1,Above,Normal,Below,Well above,Normal,Well above,Above,Below,Normal,Well above,...,Well above,Below,Well below,Above,Well above,Well above,Above,Below,2019,8
2,Well below,Well below,Below,Well above,Above,Well above,Well above,Above,Normal,Above,...,Well above,Below,Above,Well above,Well above,Below,Well above,Above,2019,9
3,Below,Well above,Below,Above,Below,Normal,Well below,Well above,Below,Well below,...,Normal,Above,Well above,Normal,Above,Well below,Above,Normal,2019,10
4,Normal,Well above,Above,Below,Below,Normal,Well below,Normal,Below,Below,...,Normal,Below,Above,Well above,Well above,Well above,Well above,Well below,2019,11
5,Normal,Well below,Well above,Above,Normal,Normal,Well below,Above,Well below,Well below,...,Below,Normal,Well above,Well below,Well below,Well above,Normal,Well above,2019,12

In [17]:
df.month

0     7
1     8
2     9
3    10
4    11
5    12
Name: month, dtype: int64

### this just to make sure that we have the last 6 months ...

In [18]:
df = df.iloc[-6:]

### saves to disk in the corresponding bulletin directory

In [19]:
df.to_csv(opath / 'last_6_months_TRMM_categories.csv')

In [20]:
opath

PosixPath('/home/nicolasf/operational/ICU/ops/bulletin/JFM_2020')

In [21]:
df

,Palau,Papua_New_Guinea,Society_Islands,Niue,Kiribati_Phoenix_Islands,Wallis_and_Futuna,Marquesas,Fiji,Kiribati_Line_Islands,Vanuatu_North,...,Solomon_Islands,Tonga,Pitcairn_Islands,Guam,Northern_Marianas,Federated_States_of_Micronesia,Marshall_Islands,American_Samoa,year,month
0,Normal,Below,Well above,Above,Well below,Well above,Above,Normal,Well above,Normal,...,Well above,Well above,Well above,Below,Below,Normal,Below,Well above,2019,7
1,Above,Normal,Below,Well above,Normal,Well above,Above,Below,Normal,Well above,...,Well above,Below,Well below,Above,Well above,Well above,Above,Below,2019,8
2,Well below,Well below,Below,Well above,Above,Well above,Well above,Above,Normal,Above,...,Well above,Below,Above,Well above,Well above,Below,Well above,Above,2019,9
3,Below,Well above,Below,Above,Below,Normal,Well below,Well above,Below,Well below,...,Normal,Above,Well above,Normal,Above,Well below,Above,Normal,2019,10
4,Normal,Well above,Above,Below,Below,Normal,Well below,Normal,Below,Below,...,Normal,Below,Above,Well above,Well above,Well above,Well above,Well below,2019,11
5,Normal,Well below,Well above,Above,Normal,Normal,Well below,Above,Well below,Well below,...,Below,Normal,Well above,Well below,Well below,Well above,Normal,Well above,2019,12