In [1]:
%matplotlib inline

In [2]:
import os

In [3]:
import numpy as np 
import pandas as pd

In [4]:
import pathlib

In [5]:
bulletin_dir = 'AMJ_2019'

### path to the last 6 months TRMM-derived rainfall anomalies and categories

In [6]:
dpath = pathlib.Path.cwd().parent / 'outputs' / 'Time_Series' / 'last_6_months'

In [7]:
opath = pathlib.Path.cwd().parents[1] / 'bulletin' / bulletin_dir

In [8]:
lfiles = dpath.glob('*.csv')

### reads the last 6 months categories for each Island group, and concatenates

In [9]:
l = []
for f in lfiles: 
    data = pd.read_csv(f)
    data = data.T.iloc[-1,:]
    data = data.to_frame()
    data.columns = [str(f).split('/')[-1][:-11]]
    l.append(data)

In [10]:
df = pd.concat(l, axis=1)

In [11]:
data_keep = pd.read_csv(dpath / 'New_Caledonia_pbased.csv')

In [12]:
df.loc[:,'year'] = data_keep.year

In [13]:
df.loc[:,'month'] = data_keep.month

In [14]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [15]:
df

,Palau,Papua_New_Guinea,Society_Islands,Niue,Kiribati_Phoenix_Islands,Wallis_and_Futuna,Marquesas,Fiji,Kiribati_Line_Islands,Vanuatu_North,...,Solomon_Islands,Tonga,Pitcairn_Islands,Guam,Northern_Marianas,Federated_States_of_Micronesia,Marshall_Islands,American_Samoa,year,month
0,Normal,Below,Well below,Below,Above,Well above,Below,Well above,Below,Below,...,Below,Above,Well above,Below,Normal,Well below,Normal,Well above,2018,10
1,Normal,Normal,Below,Well below,Well above,Below,Normal,Normal,Above,Well below,...,Well above,Well below,Below,Above,Above,Below,Below,Below,2018,11
2,Normal,Above,Well below,Well above,Normal,Well above,Above,Well above,Normal,Well above,...,Well above,Well above,Below,Above,Below,Below,Above,Well above,2018,12
3,Below,Normal,Above,Above,Normal,Above,Normal,Well above,Above,Below,...,Below,Well above,Well below,Normal,Below,Well above,Normal,Well below,2019,1
4,Well below,Well below,Normal,Below,Well above,Well above,Well below,Normal,Above,Above,...,Above,Well above,Above,Well above,Above,Below,Above,Well above,2019,2
5,Above,Well above,Above,Well below,Above,Well below,Normal,Well below,Well above,Well below,...,Well below,Normal,Well above,Below,Well below,Well above,Normal,Below,2019,3

In [16]:
df.month

0    10
1    11
2    12
3     1
4     2
5     3
Name: month, dtype: int64

### this just to make sure that we have the last 6 months ...

In [17]:
df = df.iloc[-6:]

### saves to disk in the corresponding bulletin directory

In [23]:
if not opath.exists(): 
    opath.mkdir()

In [24]:
df.to_csv(opath / 'last_6_months_TRMM_categories.csv')